<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Postingan</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<header>
   <div align="center">
 

    <h1>Selamat Datang di Sosmate</h1>
<h2>
 Terkadang informasi lebih berbahaya dari pada senjata, tergantung bagaimana cara kita menggunakannya.
</h2>

    <h3>
     4IA15 FTI
     
    </h3>

    <%= link_to "Daftar Sekarang!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("S.png", alt: "Rails logo"),
              'https://asooy-tanbak37.c9.io/' %>
<% end %>
